<h1>TP TodoList</h1>
<form (submit)="this.todoList.create(entree.value)">
    <label>"Nouvelle entrée"</label>
    <input type="text" #entree>
</form>
<ul *ngIf="this.todoList.observable |async as todo">
    <li *ngFor="let item of todo.items">
        <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="todoList.update({isDone:$event}, item)">
        <input type="text" [ngModel]="item.label" (ngModelChange)="todoList.update({label:$event}, item)">
        <input type="button" (click)="todoList.delete(item)">
    </li>
</ul>