<div id="bandeauTitre">
    <div *ngIf="auth.user | async as user; else showLogin">
        <p class="texteConnexion1">{{ user.displayName }}</p>
        <p class="texteConnexion2">{{ user.email }}</p>

        <button (click)="logout()"><img class="imageProfil" [src]="user.photoURL"></button>
    </div>
    <ng-template #showLogin>
        <button (click)="login()">
          <img class="imgGoogleLogo" src="../assets/img/GoogleLogo3.png">
          <p class="texteConnexion3">NON CONNECTÉ</p>
        </button>
    </ng-template>

</div>

<app-todo-list *ngIf="auth.user | async as user" [inputAuth]="user.displayName" [compareListe]="compareListe()"></app-todo-list>
